# Base de datos (Railway te da esta URL en el servicio de PostgreSQL)
DATABASE_URL="postgresql://usuario:password@host:puerto/nombre_db"

# Autenticación (a definir cuando se implemente login)
# NEXTAUTH_SECRET=""
# NEXTAUTH_URL="http://localhost:3000"
